body {
	background-color: #363EA0 !important;
	z-index: 1;
}

.quiz {
	padding: 0px;
	margin: 10px;
}

.padding {
	margin-top: 10px;
}

.paddingTable {
	padding: 10px;
	margin: 5px;
}

.zom
{
    animation:anime11 3s linear infinite;
    -webkit-animation:anime11 3s linear infinite;
}

#prev, #next, #submit {
	display: none;
	margin-bottom: 2px;
}

ul {
    list-style-type: none;
}

#database_content_quiz {
	padding-top: 5px;
	padding-bottom: 65px;
	display: none;
}

.alert_pass {
	background-color: red;
	border-radius: 0px;
	color: white;
	text-align: center;
}

.alert_succ {
	background-color:green;
	border-radius: 0px;
	color: white;
	text-align: center;
}

.alert_reset {
	background-color: green;
	border-radius: 0px;
	color: black;
}

.testbutton {
	margin-right: 5px;
}

.testbutton2 {
	margin-bottom: 5px;
}

.testbuttonLeft {
	margin-left: 5px;
}
nav a{
	color: #eeeeee;
}

nav a:hover{
	color: #dddddd;	
}

nav > button {
	background-color: #eeeeee;
}

table {
    table-layout:fixed;
	vertical-align: middle;
}

td {
  height: 50px;
  vertical-align: bottom;
}

.black { 
	color: black;
}

.container img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

.container .center {
	position: relative;
	margin-top: 12%;
	text-align: center;
	padding: 20px;
}


/*
.footer {
  position: absolute;
  width: 100%;
  height: 100%;
  height: 45px; 
  line-height: 45px; 
  color: #eeeeee;
}

*/

#loader {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#removeBox {
	/*visibility: hidden;*/
	display: none; 
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	height: auto; /* Set the fixed height of the footer here */
	line-height: 45px; /* Vertically center the text there */
	color: #eeeeee;
	z-index: 1;
}

.fill {
	background-color: white;	
}

.fill button {
	border-radius: 0px;
	background-color: #363EA0;
}

.fill button:hover {
	background-color: #474FB1;
}

.color-white {
	background-color: white;	
	border-radius: 25px;	
	box-shadow: 15px 15px 20px; 
	position: left;
}

.color_white {
	text-align: center;
	background-color: white;	
	margin-top: 40px;
	margin-bottom: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: left;
}

#feedbackFromApi {
	margin-top: 20px;
}

.form {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg-form-reset {
	font-weight: bold;
	text-align: left;
	margin: 60px;
	padding: 20px;
	/*border: solid 1px;
	box-shadow: 5px 5px 5px #888888;*/
}

.bg-form-reset2 {
	font-weight: bold;
	text-align: left;
	padding: 20px;
	/*border: solid 1px;
	box-shadow: 5px 5px 5px #888888;*/
}

.bg-form {
	margin: 80px;
	padding: 40px;
	background-color: white;
}

.bg-form-upload {
	margin: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
}

.bg-form h3 {
	font-family: 'Baloo Thambi', cursive;
}

.container h1 {
	font-family: 'Baloo Thambi', cursive;
}

.center_form {
	margin-left: auto;
	margin-right: auto;
}

.bg-form button {
	font-family: 'Baloo Thambi', cursive;
	border-radius: 0px;
	background-color: #363EA0;
	margin-top: 30px;
	margin-bottom: -10px;
}

.bg-form button:hover {
	background-color: #474FB1;
}

.bg-form input {
	margin-bottom: 12px;
	border-radius: 0px;
}

.bg-form label {
	font-weight: bold;
}

.bg-picture {
	z-index: -1;
	background-image: url("img/image.png");
	background-repeat: no-repeat;
	position: fixed;
	background-attachment: none;
	opacity: 0.4;
	background-position: 50% 30%;
	width: 100%;
	height: 100%;
    left: 3%;
	transform: scale(1.3);
}

.test {

    position: absolute;
    width: 200%;
    height: 200%;
    top: -15%;
    left: -45%;
    z-index: -1;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-image: url("img/fingerprint6.png");
	background-size: 55%;
	background-position: center;
	-webkit-transform: rotate(-32deg);
	transform: rotate(-32deg);
	position: fixed;
}

.fill h3 {
	font-family: 'Baloo Thambi', cursive;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.fill h3 {
	font-family: 'Baloo Thambi', cursive;
}

table,
thead,
tr,
tbody {
    text-align: center;
}


.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;           /* non-prefixed version, currently*/
	display: inline;             /*not supported by any browser */
  }

/*
#confirmBox
{
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
	z-index: 1;
}
#confirmBox button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
	z-index: 1;
}
#confirmBox button:hover
{
    background-color: #ddd;
}
#confirmBox .message
{
    text-align: left;
    margin-bottom: 8px;
	z-index: 1;
}
*/