.bg-form {
	margin: 80px;
	padding: 40px;
	background-color: white;
}

.bg-form h3 {
	font-family: 'Baloo Thambi', cursive;
}


.bg-form button {
	font-family: 'Baloo Thambi', cursive;
	border-radius: 0px;
	background-color: #363EA0;
	margin-top: 30px;
	margin-bottom: -10px;
}

.bg-form button:hover {
	background-color: #474FB1;
}

.bg-form input {
	margin-bottom: 12px;
	border-radius: 0px;
}

.bg-form label {
	font-weight: bold;
}

.test {

    position: absolute;
    width: 200%;
    height: 200%;
    top: -15%;
    left: -45%;
    z-index: -1;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-image: url("img/fingerprint6.png");
	background-size: 55%;
	background-position: center;
	-webkit-transform: rotate(-32deg);
	transform: rotate(-32deg);
	position: fixed;
}

.fill h3 {
	font-family: 'Baloo Thambi', cursive;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: auto; /* Set the fixed height of the footer here */
	line-height: 45px; /* Vertically center the text there */
	color: #eeeeee;
}

.bg-picture {
	z-index: -1;
	background-image: url("img/image.png");
	background-repeat: no-repeat;
	position: fixed;
	background-attachment: none;
	opacity: 0.4;
	background-position: 50% 30%;
	width: 100%;
	height: 100%;
    left: 3%;
	transform: scale(1.3);
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }